//
//  {{ filename }}
//  {{ projectName }}
//
//  Created by {{ author }} on {{ date }}
//
//

{% for import in imports %}
import {{ import }}
{% endfor %}

public class {{ class.name }} {
	
	{% for attribute in class.attributes %}
	
	{% endfor %}

}